<!DOCTYPE html>
<html lang="en">
<head>

		<title>Single Model Editor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/stylesheet.css') }}">


    <script src="/js/dat.gui.js"></script>
    <script src="/js/three.min.js"></script>
    <script src="/js/stats.min.js"></script>
    <script src="/js/ga_lib.js"></script>
    <script src="/js/TrackballControls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    
</head>

<body>

{% include 'navigation_bar.html' %}

<div id="sidebar">
  <ul>
    <li style="font-size: 150%; height: 20px;">Controls</li>
    <li style="height: 55px;font-size:14px;">
        Equation:
        <input id="equationTextField" type="text" style="width:100px;color:#4283f4;">
        <input type="button" class="submit" onclick="applyEquation()" value="Apply"/>
    </li>
    <li><input type="button" class="btn" onclick="getRandomEquation()" value="Get Random Equation"></li>
    <li style="height:50px;">
			<!--form to upload model-->
			<form enctype = "multipart/form-data" action="/uploadSingle" method='POST'>
			<input type="file" name="file" style="padding-bottom: 10px;">
			<br />
			<input type="submit" class="submit" value="submit">
			</form>
		</li>
  </ul>

<p>
<input type="button" class="btn" onclick="treeEQ()" value="Tree Equation">
<p>
<input type="button" class="btn" onclick="randTreeEQ()" value="Get Similar Tree Equation">
</p>
	
<p>
<form action="/single_model" method="POST">
<select name = "selection">
	{% if selectModel %}
	<option value="none">Please select a model</option>
	{% for row in selectModel %}
	<option value='{{row["modelName"]}}'>{{row["modelName"]}}</option>
	{% endfor %}
	{% else %}
	<option value="none">No Models Found</option>
	{% endif %}
	<input type="submit" style="margin: 9px" class="submit" value="submit">
</select>
</form>
</p>

</div>

<div id="canvas"></div>

<script type="x-shader/x-vertex" id="vertexShaderHeader">
    uniform float time;
    varying vec3 vNormal;

    void main() {
        vNormal = normal;

        vec3 newPos = vec3(position);
</script>

<script type="x-shader/x-vertex" id="vertexShaderFooter">
        gl_Position = projectionMatrix * modelViewMatrix * vec4(newPos, 1.0);
    }
</script>

<script type="x-shader/x-vertex" id="vertexShader">
    // vertex shader code
    uniform float time;
    varying vec3 vNormal;

    void main() {
        vNormal = normal;
        vec3 newPos = vec3(position);

        gl_Position = projectionMatrix * modelViewMatrix * vec4(newPos, 1.0);
    }


</script>

<script type="x-shader/x-vertex" id="fragmentShader">
    // fragment shader code

    varying vec3 vNormal;

    void main() {
        // set texture to color
        //gl_FragColor = vec4(1.0, 0.5, 1.0, 1.0);

        vec3 light = vec3(0.5, 0.2, 1.0);
        light = normalize(light);
        float dProd = max(0.0, dot(vNormal, light));

        gl_FragColor = vec4(dProd, dProd, dProd, 1.0);

    }

</script>


<script>
var container, stats;

var scene, renderer;
var start = Date.now(), fov = 15;

var model;
var material;

var windowWidth, windowHeight;
var view;

var cameraControl;

var clock = new THREE.Clock();

var convertedData;
var convertedInt = "";
var temp;

/*
// init GUI
var controls = new function() {

  this.equation = '{{shader}}';
  //this.status = '';
  //this.displayOutline = false;

  this.save = function() {
    // to be implemented
  }
};

var gui = new dat.GUI();
// gui.add(controls, 'status');
gui.add(controls, 'save');
var eqController = gui.add(controls, 'equation');
eqController.onFinishChange(function(value) {
    // Fires when controller loses focus.
});
*/

function defineViewports()
{
    // create JSON objects with all parameters for the viewports
    var cameraDist = 10;

    var viewport = {
			left: 0,
			bottom: 0,
			width: 1,
			height: 1,
			background: new THREE.Color().setRGB( 0, 0, 0),
			eye: [0, 0, cameraDist ],
			up: [ 0, 1, 0 ],
			fov: 75,
		};

    view = viewport;
}

function initCameras()
{
    windowWidth = container.offsetWidth;
    windowHeight = container.offsetHeight;

    // one camera for each viewport
    var camera = new THREE.PerspectiveCamera( view.fov, window.innerWidth / window.innerHeight, 0.1, 1000 );
    camera.position.x = 0;
    camera.position.y = 10;
    camera.position.z = 10;
    camera.up.x = view.up[ 0 ];
    camera.up.y = view.up[ 1 ];
    camera.up.z = view.up[ 2 ];
    // debugging
    console.log("view eye: " + view.eye[0] + ", " + view.eye[1] + ", " + view.eye[2]);
    console.log("look at: " + view.eye[0] + ", " + view.eye[1] + ", " + view.eye[2]);
    // save camera in view
    view.camera = camera;

    var cam_i = new THREE.TrackballControls(camera, renderer.domElement);
    cam_i.target = new THREE.Vector3(0,10,0);
    cameraControl = cam_i;

}

init();
animate();

{% if alert %}
alert('{{alert}}');
{% endif %}
	
function init()
{

    container = document.getElementById( 'canvas' );
    renderer = new THREE.WebGLRenderer( { antialias: true } );
    renderer.setSize( window.innerWidth, window.innerHeight, false );
    container.appendChild( renderer.domElement );

    scene = new THREE.Scene();

    defineViewports();
    initCameras();

    // load models
    {% if filename %}
    var modelName = '{{filename}}';
    {% else %}
    var modelName = "/data/male_model_object.json";
    {% endif %}

    var objectLoader = new THREE.ObjectLoader();
    objectLoader.load(modelName, onObjectLoadSuccess);

    // shader material
    material = new THREE.ShaderMaterial({
	uniforms: {
	    time: {type: "f", value: 0.0},
	},
	vertexShader: document.getElementById('vertexShader').textContent,
	fragmentShader: document.getElementById('fragmentShader').textContent
    });


    stats = new Stats();
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.top = '0px';
    container.appendChild( stats.domElement );

}

function onObjectLoadSuccess(obj)
{
    model = obj;
    model.position.set(view.eye[0], view.eye[1], 0);
    model.scale.x = 1;
    model.scale.y = 1;
    model.scale.z = 1;
    model.name = 'child';

    model.traverse( function ( child )
    {
        if ( child instanceof THREE.Mesh ) {
            child.material = material;
        }
    });

    scene.add(model);
}

/**
 * Takes equation in textbox and applies it to the model
 * by using equation in the vertex shader of the model's material.
 * @param {string} data
 *
 */
function textboxShader(data)
{
    // type cast any ints to floats so that vertex shader compiles
    var matches = data.match(/\d+(\.\d*)?/g);
    var cur_index = -1;
    var replace_str = '';
    var newdata = '';
    if(matches != null){ 
	for (var i = 0; i < matches.length; i++)
	{
	    replace_str = String(parseFloat(matches[i]).toFixed(1));
	    data = data.replace(matches[i], replace_str);
	    cur_index = data.indexOf(replace_str)
	    // make sure that new replacements only affect the parts of the
	    // string that have not been replaced
	    newdata += data.substring(0, cur_index + replace_str.length)
	    data = data.substring(cur_index + replace_str.length)
	}
    }

    // string with all replacements + original string tail
    data = newdata + data;

    var header = document.getElementById('vertexShaderHeader').textContent;
    var footer = document.getElementById('vertexShaderFooter').textContent;
    var result = data;
    var vexProg = result.replace(/x/g, 'newPos.x');
    vexProg = vexProg.replace(/y/g, 'newPos.y');
    vexProg = vexProg.replace(/z/g, 'newPos.z');

    console.debug(vexProg);
    vexProg = header + 'newPos.xyz += ' + vexProg + ';\n' + footer;

    scene.remove(model);
    material = new THREE.ShaderMaterial({
        uniforms: {
            time: {type: "f", value: 0.0},
        },
        vertexShader: vexProg,
        fragmentShader: document.getElementById('fragmentShader').textContent
    });

    model.traverse( function ( child ) {
        if ( child instanceof THREE.Mesh ) {
            child.material = material;
        }
    });

    scene.add(model);
}

function updateSize()
{
    if ( windowWidth != container.offsetWidth || windowHeight != container.offsetHeight ) 
    
    {
	windowWidth = container.offsetWidth;
	windowHeight = container.offsetHeight;
        renderer.setSize ( windowWidth, windowHeight );
    }
}

function animate()
{
    render();
    stats.update();
    cameraControl.update();

    requestAnimationFrame( animate );
}

function render()
{
    updateSize();

    var delta = clock.getDelta();

    var left   = Math.floor( windowWidth  * view.left );
    var bottom = Math.floor( windowHeight * view.bottom );
    var width  = Math.floor( windowWidth  * view.width );
    var height = Math.floor( windowHeight * view.height );
    renderer.setViewport( left, bottom, width, height );
    renderer.setScissor( left, bottom, width, height );
    renderer.setScissorTest ( true );
    renderer.setClearColor( view.background );

    view.camera.aspect = width / height;
    view.camera.updateProjectionMatrix();

    material.uniforms['time'].value = .00050 * (Date.now() - start);

    renderer.render( scene, view.camera );
}

{% if shader %}
var t = '{{shader}}';
textboxShader(t);
{%endif %}


// Get Random Equation
function getRandomEquation() {
  $.getJSON('/sendRandomEquation', function(data) {

    textboxShader(data.result);

    document.getElementById("equationTextField").value = data.result;

    // controls.equation = data.result;
    // eqController.updateDisplay();
  });
}

// Apply equation from the equation text field on the sidebar
function applyEquation() {
  textboxShader(document.getElementById("equationTextField").value);
}

function treeEQ(){
	
	$.getJSON('/treeEQ', function(data) {
	
	textboxShader(data.result);
	document.getElementById("equationTextField").value = data.result;
	
	});
	
}

function randTreeEQ(){
	// send equation to be further randomized
	
	if (document.getElementById("equationTextField").value == ""){
		return alert("No equations in the field.");
	} else {
	equation = document.getElementById("equationTextField").value
	}
	
	$.getJSON('/randTreeEQ',
	{ equation: equation },
	function(data) {

		textboxShader(data.result);
		document.getElementById("equationTextField").value = data.result;

  });
}

</script>
</body>
</html>
